# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Quentin Topper
	email = quentopp@gmail.com
[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	unstage = reset HEAD --
	last = log -1 HEAD
	pushup = push --set-upstream origin
